HOST= 127.0.0.1
PORT= 9000
ENV= development
PREFIX= api/v1

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mydb
DB_USER=admin
DB_SCHEMA=public
DB_PASSWORD=admin123
DB_LOGGING=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=admin123
CACHE_TTL=300000

ACCESS_SECRET=5oXG4qNJt22ufkZ3QTrG0uFkpV873BO1h2ibIITlFqWdQLI5FW5Wp9Za7arctoBwTgeqBHNk2gpjQ7ZqvBXETV
ACCESS_EXPIRES=15m
REFRESH_SECRET=L6iCfbAjRgMtqCV4kiv9zml6gqZoSyb0HFlHQCIbAsvuHtae9G4HMgJyVRCwfduR37GcxXXPIWjpNVq2uhSxGE
REFRESH_EXPIRES=7d


COOKIE_SECRET= io0p1z9LqHDr2hHQrYPLXEfVGjUcijDEwReYSB4Dh0VxB71T92xbWRjPK7QpNyEjs2LFoZWwgrMmNMGmW9qrkF
COOKIE_SECURE=false
COOKIE_DOMAIN=127.0.0.1
ACCESS_TOKEN_COOKIE_NAME=access_token
REFRESH_TOKEN_COOKIE_NAME=refresh_token
COOKIE_SAME_SITE=lax

CORS_ORIGIN=http://localhost:3000, http://127.0.0.1:3000


SWAGGER_ENABLED=true
SWAGGER_PATH=docs

